.logo
{
	height: 50px;
}
.space-navbar
{
	justify-content: space-between !important;
}
.margin-righ
{
	margin-right: 10px;
}
.margin-left
{
	margin-left: 10px;
}
.width-form
{
	width: 200px !important; 
	
}
.margin-0
{
	margin: 0 auto;
}
.formulario-registro
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
